.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

.small-with-importance {
    font-variant: small-caps;
    font-size: medium;
}

.text-center {
    text-align: center;
}